In [1]:
from google.colab import files 
  
  
uploaded = files.upload()

Saving Admission_Predict.csv to Admission_Predict.csv

In [2]:
import pandas as pd
import numpy as np

In [3]:
data=pd.read_csv("Admission_Predict.csv")

In [4]:
data.head()

   Serial No.  GRE Score  TOEFL Score  ...  CGPA  Research  Chance of Admit
0           1        337          118  ...  9.65         1              0.92
1           2        324          107  ...  8.87         1              0.76
2           3        316          104  ...  8.00         1              0.72
3           4        322          110  ...  8.67         1              0.80
4           5        314          103  ...  8.21         0              0.65

[5 rows x 9 columns]

In [7]:
data=data.drop(['Serial No.'],axis=1)

In [8]:
data.columns

Index(['GRE Score', 'TOEFL Score', 'University Rating', 'SOP', 'LOR ', 'CGPA',
       'Research', 'Chance of Admit '],
      dtype='object')

In [9]:
X=data.drop('Chance of Admit ',axis=1)
y=data['Chance of Admit ']

In [12]:
import sklearn

In [13]:
from sklearn.model_selection import train_test_split

In [14]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.3)

In [15]:
from sklearn.linear_model import LinearRegression

In [16]:
lm=LinearRegression()

In [17]:
lm.fit(X_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [18]:
predictions=lm.predict(X_test)

In [19]:
from sklearn import metrics

In [20]:
metrics.mean_absolute_error(y_test,predictions)

0.05134642237151176

In [55]:
your_GRE_Score=int(input("Enter your GRE Score "))
your_TOEFL_Score=int(input("Enter your TOEFL Score "))
your_University_Rating=int(input("Enter your University Rating Score "))
your_SOP_score=float(input("Enter your SOP Score "))
your_LOR_Score=float(input("Enter your LOR Score "))
your_CGPA_Score=float(input("Enter your CGPA Score "))
your_Research_Paper=int(input("Enter your Research Paper Score "))

Enter your GRE Score338
Enter your TOEFL Score108
Enter your University Rating Score5
Enter your SOP Score5
Enter your LOR Score4.5
Enter your CGPA Score9.6
Enter your Research Paper Score1

In [61]:
Your_scores=[[your_GRE_Score,your_TOEFL_Score,your_University_Rating,your_SOP_score,your_LOR_Score,your_CGPA_Score,your_Research_Paper]]
Your_chance_of_admission=lm.predict(Your_scores)
print("Your chance of getting admitted into this college :- ",Your_chance_of_admission)

Your chance of getting admitted into this college :-  [0.92431917]